@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 50px;
    background: #1E1E1E;
}
.w-1340{
    width: 1340px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;
    margin-top: 36px;
}
ul a{
    color: #E9E3DC;
    font-family: "Bowlby One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    text-decoration: none;
}
ul button{
    background: #B3A0CD;
    width: 203px;
    height: 60px;
    color: #1E1E1E;
    font-family: "Bowlby One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    border: none;
}

h1{

    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 107.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
    max-width: 1255px;
    margin: 74px 0 33px 0;
}

.img-burger{
    display: block;
    margin: 0 auto;
}

.green-poster{
    width: 1340px;
    height: 369px;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-poster h2{
    color: #1E1E1E;
    font-family: "Bowlby One";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
    max-width: 533px;;
}
.green-poster div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 34px;
    height: 50%;
}
.green-poster p{
    color: #1E1E1E;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
    max-width: 521px;

}
.green-poster button{
    border: 4px solid #1E1E1E;
    background: #E9E3DC;

    /* DropShadow */
    box-shadow: 8px 8px 0px 0px #000;
    width: 176px;
    height: 60px;
    flex-shrink: 0;
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}

.images{
    display: flex;
    justify-content: space-between;
    margin: 64px 0;
}
.text-order{
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
    max-width:  895px;
    margin: 64px  auto 33px auto;
}
.button-green{
    background: #D1EF53;
    width: 196px;
    height: 60px;
    flex-shrink: 0;
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    display: block;
    margin: 0 auto 36px auto;
    border: none;
}